<div class="row my-4 mx-0">
  <div class="col-sm-3"></div>
  <div class="col-sm-6">
    <form>
      <div class="form-row justify-content-center align-items-center">
        <div class="col-auto">
          <label class="sr-only" for="inlineFormInput">A</label>
          <input type="number" class="form-control mb-2" id="aNumber" placeholder="A" [(ngModel)]="firstNumber" #ctrlA="ngModel" [ngModelOptions]="{standalone: true}">
        </div>
        <div class="col-auto">
          <label class="sr-only" for="inlineFormInputGroup">B</label>
          <input type="number" class="form-control mb-2" id="bNumber" placeholder="B"  [(ngModel)]="secondNumber" #ctrlB="ngModel" [ngModelOptions]="{standalone: true}">
        </div>
        <div class="col-auto">
          <button type="button" class="btn btn-primary mb-2" (click)="getTotal()">Calculate</button>
        </div>
      </div>
      <div class="text-center">
        <h5>SUM : {{calculatorState.total}}</h5>
      </div>
    </form>
  </div>
  <div class="col-sm-3"></div>
</div>
